// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.btn-info {
    color: #fff;
}

.channel-avatar {
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    
    .overlay {
        display: none;
    }

    &:hover {
        .overlay {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.6);
        }
    }

    img{
        width: 100px;
        height: 100px;
    }
}
