<template>
  <div class="media d-flex my-4">
    <avatar :username="comment.user.name" :size="50"></avatar>
    <div class="media-body ml-2">
      <h5>{{ comment.user.name }}</h5>
      <small>{{ comment.body }}</small>

      <div class="d-flex mt-2">
        <button
          @click="addingReply = !addingReply"
          class="btn btn-sm ml-2"
          :class="{'btn-danger':addingReply,'btn-outline-info':!addingReply}"
        >{{addingReply? 'Cancel':'Add Reply'}}</button>
      </div>

      <div v-if="addingReply" class="input-group mt-2">
        <input v-model="body" type="text" class="form-control" />
        <div class="input-group-append">
          <button @click="addReply" class="btn btn-info">Add Reply</button>
        </div>
      </div>

      <replies ref="replies" :comment="comment"></replies>
    </div>
    <votes :default_votes="comment.votes" :entity_id="comment.id" :entity_owner="comment.user.id"></votes>
  </div>
</template>

<script>
import Avatar from "vue-avatar";
import Replies from "./replies.vue";

export default {
  props: {
    comment: {
      required: true,
      default: () => ({})
    },
    video: {
      required: true,
      default: () => ({})
    }
  },

  components: {
    Avatar,
    Replies
  },

  data() {
    return {
      body: "",
      addingReply: false
    };
  },
  methods: {
    addReply() {
      if(!this.body) return

      axios.post(`/comments/${this.video.id}`, {
        comment_id: this.comment.id,
        body: this.body
      }).then(({data})=>{
        this.body=''
        this.addingReply = false
        this.$refs.replies.addReply(data)
      })
    }
  }
};
</script>