<template>
  <div class="card mt-4 p-2">
    <div class="card-body">
      <div v-if="auth" class="input-group mt-2">
        <input v-model="newComment" type="text" class="form-control" />
        <div class="input-group-append">
          <button @click="addComment" class="btn btn-success">Add Comment</button>
        </div>
      </div>
      
      <comment  v-for="comment in comments.data" :key="comment.id" :comment="comment" :video="video"></comment>

      <div class="text-center">
        <button
          v-if="comments.next_page_url"
          class="btn btn-success"
          @click="fetchComments()"
        >Load More</button>
        <span v-else class="text-muted">No more comments to show :)</span>
      </div>
    </div>
  </div>
</template>

<script>

import Comment from "./comment.vue";

export default {
  props: ["video"],

  components: {
    Comment
  },

  mounted() {
    this.fetchComments();
  },

  data: () => ({
    comments: {
      data: []
    },

    newComment: ""
  }),

  computed: {
    auth(){
      return __auth();
    }
  },

  methods: {
    fetchComments() {
      const url = this.comments.next_page_url
        ? this.comments.next_page_url
        : `/videos/${this.video.id}/comments`;
      axios.get(url).then(({ data }) => {
        this.comments = {
          ...data,
          data: [...this.comments.data, ...data.data]
        };
      });
    },

    addComment() {
      if (!this.newComment) return;

      axios
        .post(`/comments/${this.video.id}`, {
          body: this.newComment
        })
        .then(({ data }) => {
          this.comments = {
            ...this.comments,
            data: [data, ...this.comments.data]
          };
        });
    }
  }
};
</script>