<template>
  <div>
    
    <div class="media d-flex my-3" v-for="reply in replies.data">
      <avatar :username="reply.user.name" :size="40"></avatar>
      <div class="media-body ml-2">
        <h5>{{reply.user.name}}</h5>
        <small>{{reply.body}}</small>
      </div>
      <votes :default_votes="reply.votes" :entity_id="reply.id" :entity_owner="reply.user.id"></votes>
    </div>

    <div v-if="comment.repliesCount > 0 && replies.next_page_url" class="text-center mt-2">
      <button class="btn btn-info btn-sm" @click="fetchReplies()">Load Replies</button>
    </div>
  </div>
</template>

<script>
import Avatar from "vue-avatar";

export default {
  props: {
    comment: {
      required: true,
      default: {}
    }
  },

  components: {
    Avatar
  },

  data() {
    return {
      replies: {
        data: [],
        next_page_url: `/comments/${this.comment.id}/replies`
      }
    };
  },

  methods: {
    fetchReplies() {
      axios.get(this.replies.next_page_url).then(({ data }) => {
        this.replies = {
          ...data,
          data: [...this.replies.data, ...data.data]
        };
      });
    },

    addReply(reply){
      this.replies={
        ...this.replies,
        data:[
          reply,
          ...this.replies.data
        ]
      }
    }
  }
};
</script>