<template>
  <div class="d-flex justify-content-end align-items-center">
    <div :class="{'text-success':upvoted}" @click="vote('up')">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      {{ upvotes_count }}
    </div>
    <div :class="{'text-danger':downvoted}" @click="vote('down')">
      <i class="fa fa-thumbs-down ml-2" aria-hidden="true"></i>
      {{ downvotes_count }}
    </div>
  </div>
</template>
<script>
import numeral from "numeral";

export default {
  props: {
    default_votes: {
      required: true,
      default: () => []
    },
    entity_owner: {
      required: true,
      default: ""
    },
    entity_id: {
      required: true,
      default: ""
    }
  },

  data() {
    return {
      votes: this.default_votes
    };
  },

  computed: {
    upvotes() {
      return this.votes.filter(v => v.type === "up");
    },

    downvotes() {
      return this.votes.filter(v => v.type === "down");
    },

    upvotes_count() {
      return numeral(this.upvotes.length).format("0a");
    },

    downvotes_count() {
      return numeral(this.downvotes.length).format("0a");
    },

    upvoted() {
      if (!__auth()) return false;

      return !!this.upvotes.find(v => v.user_id === __auth().id);
    },
    downvoted() {
      if (!__auth()) return false;

      return !!this.downvotes.find(v => v.user_id === __auth().id);
    }
  },

  methods: {
    vote(type) {
      if(! __auth()){
          return alert('Pls Login To Vote')
      }

      if (__auth().id === this.entity_owner) {
        return alert("You Can`t vote this item");
      }

      if (type == "up" && this.upvoted) return;

      if (type == "down" && this.downvoted) return;

      axios.post(`/votes/${this.entity_id}/${type}`).then(({ data }) => {
        if (this.upvoted || this.downvoted) {
          this.votes = this.votes.map(v => {
            if (v.user_id === __auth().id) {
              return data;
            }

            return v;
          });
        } else {
          this.votes = [...this.votes, data];
        }
      });
    }
  }
};
</script>